.about-us_section {
    margin: 40px 0;
    font-family: 'Times New Roman', Times, serif;
}

.about-us_title {
    font-size: 26px;
    font-weight: bold;
}
.about-us_content {
    font-size: 14px;
    margin-top: 8px;
    line-height: 1.5;
}

.about-us_section ul {
    list-style: disc;
}

.about-us_section ul > li {
    padding: 4px 0;
    margin-left: 3%;
}

.about-year {
    width: 100px;
}