:root {
    /* --noto-san-font: font-family: 'Quicksand', sans-serif; font-family: 'Roboto', sans-serif; */
    --header-height: 100px;
    --slider-height: 1000px;
    --md-slider-height: 400px;
    --menu-z-index: 9999;
    --home-menu-text-color: #fff;
    --main-color: #924094;
    --body-background: #FFFFFF;
    --footer-background: #484848;

    --slider-img-top: calc(50% - 225px);
    --slider-img-left: calc(50% - 342px);

    --slider-img-md-top: calc(50% - 108px);
    --slider-img-md-left: calc(50% - 122px);

    --slider-content-top: calc(50% - -154px);
    --slider-content-left: calc(50% - 320px);

    --slider-content-md-top: calc(50% - -74px);
    --slider-content-md-left: calc(50% - 177px);

    --sub-menu-top: calc(100% + calc(var(--header-height) / 2) - 13px);
    --back-light: #2A59FE4D;
    --input-border: #2A59FE;

    --admin-main-color: #0D6EFD;

    /* Triad */
    --admin-triad-color-1: #FC3F26;
    --admin-triad-color-2: #CAFC26;
    --admin-triad-color-3: #86B000;
    --admin-triad-color-4: #1A56B0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}


html[lang="ko"] body {
    font-family: 'Noto Serif KR', serif;
}

html body {
    font-family: 'Poppins', sans-serif;
}

.primary-btn {
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--main-color);
    color: #FFF;
    text-align: center;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
}