* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    /* --noto-san-font: font-family: 'Quicksand', sans-serif; font-family: 'Roboto', sans-serif; */
    --header-height: 100px;
    --slider-height: 1000px;
    --md-slider-height: 400px;
    --menu-z-index: 9999;
    --home-menu-text-color: #fff;
    --main-color: #924094;
    --body-background: #F5F5F5;
    --footer-background: #484848;

    --slider-img-top: calc(50% - 225px);
    --slider-img-left: calc(50% - 342px);

    --slider-content-top: calc(50% - -154px);
    --slider-content-left: calc(50% - 320px);

    --sub-menu-top: calc(100% + calc(var(--header-height) / 2) - 10px);
}

body {
    background-color: var(--body-background);
}
