.category-list:first-child {
    margin-top: 20px;
    display: flex;
    height: 28px;
}

.category-list:first-child .category-item {
    line-height: 28px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    margin-right: 1.6px;
    padding: 0 15px;
    position: relative;
}

.category-link {
    color: #666;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.category-list {
    margin: 20px 0;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
}
.category-item {
    padding: 0 15px;
    border-right: 1px solid #d0d0d0;
}

.category-list:first-child .category-item.open {
    border-top: 2px solid #CDA25A;
}

.category-item.open > a {
    color: #3912b3;
    font-weight: 700;
}
