/* header {
    z-index: 9999;
    position: sticky;
    top: -53px;
} */

.header-info {
    background-color: #F5F5F5;
    color: #8C8C8C;
    font-weight: bold;
    font-size: 14px;

    padding: 16px 0;
}

.nav-link {
    color: #000;
    font-weight: 500;
}

.nav-item {
    position: relative;
}

.nav-item:hover > ul {
    position: absolute;
    top: calc(100% + 30px);
    left: 0;
    display: block;
}

.nav-item > ul {
    padding: 0;
    list-style: none;
    display: none;
    z-index: 999;
}

.nav-item > ul::before {
    content: "";
    background-color: transparent;
    width: 100%;
    height: 30px;
    display: block;
    position: absolute;
    top: -30px;
}

.nav-item > ul > li {
    padding: 16px;
    min-width: 200px;
    border-left: 5px transparent solid;
    transition: all .3s;
    background-color: #FFF;
    cursor: pointer;
}

.nav-item > ul > li:hover {
    border-left: 5px solid var(--main-color);
}

.nav-item > ul > li > a {
    text-decoration: none;
    color: #000;
}

.nav-icon {
    font-size: 12px;
}

.header_submenu {
    position: absolute;
    background-color: #fff;
    width: fit-content;
    left: 0;
    top: var(--sub-menu-top);
    display: none;
}

.header_submenu::before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 45px;
    top: -45px;
}

.header_menu_item {
    padding: 0 16px;
    position: relative;
}

.home_header .header_menu_item button i {
    color: #fff;
}

.header_menu_item:hover > .header_submenu {
    display: block;
    animation: displayAnimation 0.3s linear 1;
}

.header_subitem {
    padding: 16px;
    width: 110%;
}

.header_subitem:hover {
    transition: border .1s;
    border-left: 5px solid var(--main-color);
}

.header_subitem:hover > .menu_submenu {
    display: block;
    animation: floatRight 0.3s linear 1;
}

.header_sublink {
    color: #000;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.menu_submenu {
    position: absolute;
    list-style: none;
    padding: 0;
    top: 0;
    left: 100%;
    background-color: #fff;
    width: 100%;
    display: none;
}
.menu_subitem {
    cursor: pointer;
    padding: 16px 20px;
    border-left: 5px solid transparent;
}

.menu_subitem:hover {
    transition: border .1s;
    border-left: 5px solid var(--main-color);
}

.menu_subitem:hover > .menu_submenu {
    display: block;
    animation: floatRight 0.3s linear 1;
}

.menu_sublink {
    color: #000;
    text-decoration: none;
}