.home_about_content {
    background-color: #F2F4F8;
    padding: 49px 40px 20px 83px;
}

.home_about_content a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 8px 16px;
    text-transform: uppercase;
    background: #FFF;
    border: solid 1px #000;
}

.home_content.zones {
    margin-top: 109px;
}

.prev-btn, .next-btn {
    background-color: #F2F4F8;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.zones-wrapper {
    overflow: hidden;
    scroll-behavior: smooth;
}

.zones-list {
    list-style: none;
    width: max-content;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.zones-item-amount {
    color: #6B7280;
    font-weight: bold;
    font-size: 14px;
}

.zones-item-link {
    color: #FFF;
    text-decoration: none;
    background: var(--secondary-color);
    padding: 4px 8px;
    border-radius: 8px;
}

.home-media-contents-wrapper {
    margin-top: 86px;
    background-color: #F2F4F8;
    padding: 24px 0;
}

.home-media-contents-wrapper p.mt-3 {
    text-align: justify;
    font-size: 13px;
}

.media-item {
    padding: 0;
    width: calc(100% / 4 - 20px);
    background-color: #FFF;
}


.media-item-content {
    padding: 16px;
}

.media-item-content p,.media-item-content h4 {
    text-align: center;
}


.media-item-content h6 {
    max-height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-item-content p {
    font-size: 13px;
    min-height: 100px;
}

.media-item-content-link {
    padding: 8px 16px;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
    background-color: var(--main-color);
    margin: 0 auto;
    display: block;
    text-align: center;
    width: fit-content;
}

.media-all-link {
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--main-color);
    color: #FFF;
    text-align: center;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
}

.contact .md-contact-img {
    display: none;
}

@media (max-width: 1024px) {

    .contact img {
        display: none;
    }

    .contact .md-contact-img {
        display: block;
        width: 300px;
        height: 250px;
    }
}

@media (max-width: 768px) and (min-width: 576) {

    .media-list {
        flex-wrap: wrap;
    }

    .media-item {
        margin-top: 20px;
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 576px) {

    .zones-wrapper {
        overflow: scroll;   
    }

    .media-list {
        flex-wrap: wrap;
    }

    .media-item {
        margin-top: 20px;
        width: 100%;
    }

    .home_about_content {
        padding: 16px;
    }

    .home_about_content h2 {
        font-size: 16px;
    }

    .home_about_content p {
        font-size: 12px;
    }

    .home_about_content a {
        font-size: 12px;
    }

    .zones h1 {
        font-size: 16px;
    }

    .media-item-content p {
        min-height: 50px;
    }

    .contact h2 {
        font-size: 16px;
    }

    .contact img {
        display: none;
    }

    .contact .md-contact-img {
        display: block;
        width: 150px;
        height: 150px;
    }
}