.btn-delete-all {
    animation: display .3s linear 1 alternate;
}

select {
    width: 150px;
}

.category-select {
    width: 250px;
}

.alert-box {
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 100%;
}
.alert-img {
    position: absolute;
    top: 0;
    left: 0;
}
.alert-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: absolute;
    top: 130px;
    left: 14%;
}

@media (max-width: 768px ) {
    select {
        width: 100%;
    }
    
    .category-select {
        width: 100%;
    }

    .add-post-btn {
        width: 100%;
    }
    .btn-delete-all {
        width: 100%;
    }
}

@keyframes display {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}