:root {
    /* --noto-san-font: font-family: 'Quicksand', sans-serif; font-family: 'Roboto', sans-serif; */
    --header-height: 100px;
    --slider-height: 1000px;
    --md-slider-height: 400px;
    --menu-z-index: 9999;
    --home-menu-text-color: #fff;
    --main-color: #924094;
    --secondary-color: #307064;
    --body-background: #FFFFFF;
    --footer-background: #484848;

    --slider-img-top: calc(50% - 225px);
    --slider-img-left: calc(50% - 342px);

    --slider-img-md-top: calc(50% - 108px);
    --slider-img-md-left: calc(50% - 122px);

    --slider-content-top: calc(50% - -154px);
    --slider-content-left: calc(50% - 320px);

    --slider-content-md-top: calc(50% - -74px);
    --slider-content-md-left: calc(50% - 177px);

    --sub-menu-top: calc(100% + calc(var(--header-height) / 2) - 13px);
    --back-light: #2A59FE4D;
    --input-border: #2A59FE;

    --admin-main-color: #0D6EFD;

    /* Triad */
    --admin-triad-color-1: #FC3F26;
    --admin-triad-color-2: #CAFC26;
    --admin-triad-color-3: #86B000;
    --admin-triad-color-4: #1A56B0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}


html[lang="ko"] body {
    font-family: "Noto Sans KR", sans-serif;
}

html body {
    font-family: 'Roboto', sans-serif;
}

.primary-btn {
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--main-color);
    color: #FFF;
    text-align: center;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    opacity: 0;
    visibility: hidden;
    top: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    overflow: auto;
    z-index: 99999;
}

.popup.show {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, .5);
}

.popup-inner {
    width: 600px;
    border-radius: 8px;
    background-color: #fff;
    padding: 16px 30px;
    height: fit-content;
}

.popup-icon {
    font-size: 80px;
    text-align: center;
    color: var(--main-color);
}

.popup-title {
    text-align: center;
    font-weight: bold;
    color: var(--main-color);
    font-size: 24px;
    margin-bottom: 30px;
    border-bottom: dashed 1px #ccc;
    text-transform: uppercase;
}

.popup-content {
    text-align: justify;
    font-size: 16px;
}

.popup-content img {
    float: left;
}

.popup-button-group {
    display: flex;
    justify-content: end;
    gap: 8px;
}

.popup-button-group button {
    border-radius: 8px;
    padding: 8px 16px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    outline: none;
    transition: all .3s;
}

.popup-button-group button:hover {
    opacity: .7;
}

.popup-cancel-button {
    background-color: darkgray !important;
}

#cookieConsentForm {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    background-color: #4C3B70;
    z-index: 3;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#cookieConsentForm.show {
    height: 60px;
}

#cookieConsentForm p {
    margin: 0;
    color: #FFF;
}

#acceptCookieBtn {
    padding: 4px 8px;
    background-color: #773AFC;
    color: #fff;
    border: none;
    outline: none;
    transition: all .3s;
    border-radius: 8px;
}

#acceptCookieBtn:hover {
    background-color: #5529b4;
}

#cancelCookieBtn {
    padding: 4px 8px;
    background-color: #CAB9F0;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: all .3s;
}

#cancelCookieBtn:hover {
    background-color: #a698c5;
}

@media (max-width: 1115px) {
    #cookieConsentForm {
        flex-direction: column;
        padding: 0 24px;
    }

    #cookieConsentForm p {
        margin-top: 8px;
    }

    #cookieConsentForm .button-wrapper {
        padding-bottom: 8px;
    }

    #cookieConsentForm.show {
        height: 110px;
    }
}

@media (max-width: 497px) {
    #cookieConsentForm.show {
        height: 130px;
    }
}

@media (max-width: 348px) {
    #cookieConsentForm.show {
        height: 150px;
    }
}